@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header, .footer {
    background: #1F2937;
    color: white;
}

.left-card {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.right-links {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    font-size: 24px;
    color: #f9faf8;
}

.container button {
    font-size: 18px;
    background-color: #3882f6;
}

.middle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.box {
    font-size: 18px;
    color: #1F2937;
    font-weight: normal;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.attribution {
    font-size: 18px;
    color: #1F2937;
    font-weight: 700;
}





















