@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}


.header, .footer {
    background: #1F2937;
    color: white;
}

.left-card {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.right-links {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    font-size: 24px;
    color: #f9faf8;
}

.container button {
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: #3882f6;
    color: white;
    padding: 8px 16px;
}

.middle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.box {
    font-size: 18px;
    color: #1F2937;
    font-weight: normal;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.attribution {
    font-size: 18px;
    color: #1F2937;
    font-weight: 700;
}

.blue-box button {
    border: 2px solid white;
    border-radius: 4px;
    font-size: 18px;
    background-color: #3882f6;
    color: white;
    padding: 8px 16px;
}

.blue-box {
    background-color: #3882f6;
    color: white;
}

.sub-heading {
    font-size: 16px;
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}















